<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/collection.css"/>
    <title>PiecePerfect</title>
</head>
<body>
<div class="content-wrapper">
    <div class="content">
        <div class="row">
            <h1 class="title">My puzzle collection</h1>
            <form action="/home" method="POST">
                <input class="magnifier" type="image" src="{{ url_for('static', filename='utils/go-back2.png') }}"
                       alt="Submit" data-toggle="tooltip" data-placement="left" title="Back">
            </form>
        </div>
        <div class="row">
            <p class="main-text">
                Increase your collection by adding new images.
            </p>
            <form action="/collection"
                  method="POST"
                  enctype="multipart/form-data">
                <div class="file-upload btn btn-outline-light"
                     style="margin-left: 15px; margin-right:10px; height:38px;">
                    <label for="file">Upload new image</label>
                    <input type="file" id="file" name="file">
                </div>
                <input id="submit-image" type="submit" value="Submit" onclick="start_loader()"
                       class="btn btn-outline-light" name="upload_img"/>
            </form>
            <div id="loader" class="loader"></div>
        </div>
        <div class="row">
            <p class="main-text">
                Select an image and find the most suitable matches from your collection.
                Choose the side of the piece to be compared (default is right).
            </p>
        </div>
        <form action="" method="POST" style="padding:10px;">
            <div class="row">
                <button class="btn me-2 btn-outline-light" type="submit" name="find_matches" onclick="start_loader()">
                    Find matches
                </button>
                <select id="dropdown" class="dropdown" name="selected_option">
                    {% for option in dropdown_options %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
                {% if matches_list %}
                    <button class="btn me-2 btn-outline-light" type="submit" name="show_collection">
                        Back to collection
                    </button>
                {% endif %}
                {% if not matches_list %}
                    {{ pagination.links }}
                {% endif %}
            </div>
            {% if not matches_list %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        {% for row in image_rows %}
                            <tr>
                                {% for image in row %}
                                    <td>
                                        <div class="image-container">
                                            <label class="img_name" for="puzzle_img">{{ image }}</label>
                                            <img id="puzzle_img" class="img"
                                                 src="{{ url_for('static', filename='./puzzle_pieces/'+image) }}"
                                                 alt="Image">
                                            <div class="checkbox-overlay">
                                                <label class="checkbox-label">
                                                    <input type="checkbox" id="{{ image }}"
                                                           onchange="handleCheckboxChange(this)"
                                                           name="{{ image }}">
                                                    <span class="checkbox-icon"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if matches_list %}
                <table>
                    <tr>
                        <td>
                            <div class="image-container">
                                <label class="img_name" for="chosen_img">Chosen image: {{ chosen_image }}</label>
                                <img id="chosen_img" alt="Image" class="chosen-image"
                                     src="{{ url_for('static', filename='./puzzle_pieces/'+chosen_image) }}">
                                <img class="chosen_match_side"
                                     src="{{ url_for('static', filename='./match_side/'+chosen_match_side+'.png') }}">
                            </div>
                        </td>
                        {% for id in range(matches_list[0]|length) %}
                            <td>
                                <div class="image-container">
                                    <label class="img_name" for="puzzle_img">{{ matches_list[0][id] }}
                                        match {{ match_probs[0][id] }}%</label>
                                    <img id="puzzle_img"
                                         src="{{ url_for('static', filename='./puzzle_pieces/'+matches_list[0][id]) }}"
                                         class="img" alt="Image">
                                    <div class="checkbox-overlay">
                                        <label class="checkbox-label">
                                            <input type="checkbox" id="{{ matches_list[0][id] }}"
                                                   onchange="handleCheckboxChange(this)"
                                                   name="{{ matches_list[0][id] }}">
                                            <span class="checkbox-icon"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    {% for row in range(1, matches_list|length) %}
                        <tr>
                            {% for id in range(matches_list[row]|length) %}
                                <td>
                                    <div class="image-container">
                                        <label class="img_name" for="puzzle_img">{{ matches_list[row][id] }}
                                            match {{ match_probs[row][id] }}%</label>
                                        <img id="puzzle_img"
                                             src="{{ url_for('static', filename='./puzzle_pieces/'+matches_list[row][id]) }}"
                                             class="img" alt="Image">
                                        <div class="checkbox-overlay">
                                            <label class="checkbox-label">
                                                <input type="checkbox" id="{{ matches_list[row][id] }}"
                                                       onchange="handleCheckboxChange(this)"
                                                       name="{{ matches_list[row][id] }}">
                                                <span class="checkbox-icon"></span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <button class="btn me-2 btn-outline-light" style="float: right;" type="submit" name="load_more">
                    Load more results
                </button>
            {% endif %}
        </form>
        {% if is_image_loaded %}
            <div id="alert" class="alert alert-success">
                Image loaded successfully!
            </div>
        {% endif %}
    </div>
</div>

<script>
    function handleCheckboxChange(checkbox) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (cb) {
            if (cb !== checkbox) {
                cb.checked = false;
            }
        });
    }

    function start_loader() {
        document.getElementById("loader").style.display = "block";
    }

    setTimeout(function () {
        var alertElement = document.getElementById('alert');
        alertElement.parentNode.removeChild(alertElement);
    }, 2000);
</script>

</body>
</html>